*.gir
*.la
*.lo
*.o
*.sw?
*.tar.xz
*.typelib
.flatpak-builder
*~
.deps
.dirstamp
.libs
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/*
!build-aux/flatpak
!build-aux/meson
config.*
configure
data/appdata/*.appdata.valid
data/appdata/*.appdata.xml
data/*.desktop
data/*.gresource
data/*.gschema.valid
data/*.gschema.xml
data/*.service
depcomp
help/*/*.mo
help/*/*.page
help/*/*.stamp
help/*/*.xml
install-sh
libtool
ltmain.sh
m4/
missing
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/polari.pot
po/stamp-po
src/config.js
src/data-resources.*
src/polari
src/polari-accounts
src/src-resources.*
