stages:
 - commit_check
 - source_check
 - build
 - review

variables:
    BUNDLE: "polari-git.flatpak"
    LINT_LOG: "eslint-report.txt"

.only_default: &only_default
    only:
        - branches
        - tags
        - merge_requests

check_commit_log:
    image: registry.gitlab.gnome.org/gnome/gjs:fedora.static-analysis
    stage: commit_check
    before_script:
        - dnf install -y git
    script:
        - ./.gitlab-ci/check-commit-log.sh
    only:
        - merge_requests

eslint:
    image: registry.gitlab.gnome.org/gnome/gjs:fedora.static-analysis
    stage: source_check
    script:
        - sh lint/generate-report.sh -o $LINT_LOG || { cat $LINT_LOG; false; }
    <<: *only_default
    artifacts:
        paths:
            - ${LINT_LOG}
        when: on_failure

flatpak:
    image: registry.gitlab.gnome.org/gnome/gnome-runtime-images/gnome:master
    stage: build
    variables:
        # Your manifest path
        MANIFEST_PATH: "flatpak/org.gnome.Polari.json"
        RUNTIME_REPO: "https://sdk.gnome.org/gnome-nightly.flatpakrepo"
        FLATPAK_MODULE: "polari"
        BRANCH: "snapshot"
        # Make sure to keep this in sync with the Flatpak manifest, all arguments
        # are passed except the config-args because we build it ourselves
        MESON_ARGS: "-Dsnapshot=true"
        DBUS_ID: "org.gnome.Polari"

    script:
        - flatpak-builder --stop-at=${FLATPAK_MODULE} app ${MANIFEST_PATH}
        # Make sure to keep this in sync with the Flatpak manifest, all arguments
        # are passed except the config-args because we build it ourselves
        - flatpak build app meson --prefix=/app ${MESON_ARGS} _build
        - flatpak build app ninja -C _build install
        - flatpak-builder --finish-only --repo=repo --default-branch=${BRANCH} app ${MANIFEST_PATH}
        # Run automatic tests inside the Flatpak env
        - flatpak build app ninja -C _build test
        # Generate a Flatpak bundle
        - flatpak build-bundle repo ${BUNDLE} --runtime-repo=${RUNTIME_REPO} ${DBUS_ID} ${BRANCH}
    <<: *only_default

    artifacts:
        paths:
            - ${BUNDLE}
            - _build/meson-logs/meson-log.txt
            - _build/meson-logs/testlog.txt
        expire_in: 30 days
    cache:
        key: "$CI_JOB_NAME"
        paths:
             - .flatpak-builder/downloads
             - .flatpak-builder/git

review:
    stage: review
    dependencies:
        - flatpak
    script:
        - echo "Generating flatpak deployment"
    <<: *only_default
    artifacts:
        paths:
            - ${BUNDLE}
        expire_in: 30 days
    environment:
        name: review/$CI_COMMIT_REF_NAME
        url: https://gitlab.gnome.org/$CI_PROJECT_PATH/-/jobs/$CI_JOB_ID/artifacts/raw/${BUNDLE}
        on_stop: stop_review
    except:
        - tags
        - gnome-3-.*
        - master@GNOME/polari

stop_review:
    stage: review
    script:
        - echo "Stopping flatpak deployment"
    <<: *only_default
    when: manual
    environment:
        name: review/$CI_COMMIT_REF_NAME
        action: stop
    except:
        - tags
        - gnome-3-.*
        - master@GNOME/polari

fedora:
  image: fedora:latest
  stage: build
  before_script:
    - dnf install -y 'dnf-command(builddep)' redhat-rpm-config
    - dnf builddep -y polari
  script:
    - meson _build .
    - ninja -C _build test install
  only:
    - web
