*.gir
*.la
*.lo
*.o
*.sw?
*.typelib
*~
.deps
.libs
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
data/*.desktop
data/*.gresource
data/*.gschema.valid
data/*.gschema.xml
data/*.service
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/polari.pot
po/stamp-it
src/config.js
src/polari
