@define-color polari_dark_bg_color shade(@theme_bg_color, 0.95);

.polari-room-list .sidebar {
    border-style: solid;
    border-color: @borders;
    border-image: none;
}

.polari-room-list .sidebar:dir(ltr) {
    border-width: 0 1px 0 0;
}

.polari-room-list .sidebar:dir(rtl) {
    border-width: 0 0 0 1px;
}

.polari-user-list row.expanded {
    background-color: @content_view_bg;
}

.polari-user-list row frame {
    box-shadow: inset 0 2px 4px alpha(@polari_dark_bg_color, 0.8);
    transition: all 250ms ease-out;
    border-width: 0;
}

.polari-paste-confirmation {
    border: 0 solid @borders;
    border-top-width: 1px;
}

.polari-nick-button {
    padding-left: 8px;
    padding-right: 8px;
}

.polari-nick-entry {
    color: alpha(@theme_fg_color, 0.6);
}

.polari-room-list .room-list-header {
    font-size: smaller;
    padding: 8px 7px 0;
}

.polari-room-list .room-list-header label:dir(ltr),
.polari-room-list .room-list-header stack:dir(rtl) {
    padding-left: 8px;
}

.polari-room-list .room-list-header stack:dir(ltr),
.polari-room-list .room-list-header label:dir(rtl) {
    padding-right: 8px;
}

.polari-room-list .room-list-header separator {
    background-color: alpha(@borders, 0.55);
}

.polari-room-list row {
    padding-left: 8px;
}

.polari-room-list row.inactive *,
.polari-room-list row.inactive:backdrop * {
    color: mix(@theme_fg_color, @theme_base_color, 0.3);
}

.polari-room-list row.inactive:selected *,
.polari-room-list row.inactive:selected:backdrop * {
    color: mix(@theme_selected_fg_color, @theme_base_color, 0.3);
}

.polari-room-list row:backdrop * {
    color: @theme_fg_color;
}

.polari-room-list row:backdrop:selected * {
    color: @theme_selected_fg_color;
}

.polari-room-list row .pending-messages-count {
    color: @theme_selected_fg_color;
    background-color: mix(@theme_selected_bg_color, @theme_selected_fg_color, 0.3);
    font-size: smaller;
    border-radius: 4px;
    padding: 0px 4px;
}

.polari-room-list row .pending-messages-count:backdrop {
    color: @theme_unfocused_selected_fg_color;
    background-color: mix(@theme_unfocused_selected_bg_color, @theme_unfocused_selected_fg_color, 0.1);
}

treeview.polari-server-room-list {
    padding: 6px 12px;
}

.irc-feedback {
    color: @theme_fg_color;
    background-color: @theme_bg_color;
    border-style: solid;
    border-color: @borders;
    border-width: 1px 1px 0 1px;
    border-radius: 6px 6px 0 0;
    padding: 6px;
}

.emoji-picker { padding-left: 0; padding-right: 0; }

.emoji-picker undershoot.bottom { border-bottom: 1px solid @borders; }
.emoji-picker undershoot.bottom:backdrop { border-bottom-color: @unfocused_borders; }

.emoji-picker undershoot.top { border-top: 1px solid @borders; }
.emoji-picker undershoot.top:backdrop { border-top-color: @unfocused_borders; }

.emoji-picker entry { margin: 8px 10px 10px; }

.emoji {
    font-size: xx-large;
    padding: 8px;
    border-radius: 8px;
}
.emoji:hover { background: @theme_selected_bg_color; }

.emoji-section {
    border: 0 solid transparent;
    border-bottom-width: 3px;
    border-radius: 0;

    margin: 2px 4px;
    padding: 3px 0 0;
    min-width: 38px;
    min-height: 28px;

    outline-offset: -5px;

    background: none;
    box-shadow: none;
    text-shadow: none;
}
.emoji-section:hover { border-color: @borders; }
.emoji-section:checked { border-color: @theme_selected_bg_color; }
.emoji-section:backdrop:not(:checked) { border-color: transparent; }

/* HighContrast needs this ... */
.emoji-section:checked { color: @theme_fg_color; }
.emoji-section:checked:backdrop { color: @theme_unfocused_fg_color; }

/* Hack: Move separator by 1px so that it aligns with the sidebar */
.titlebar > separator:dir(ltr) { margin-left: -1px; }
.titlebar > headerbar:first-child:dir(ltr) { margin-right: 1px; }
.titlebar > separator:dir(rtl) { margin-right: -1px; }
.titlebar > headerbar:first-child:dir(rtl) { margin-left: 1px; }

.polari-user-list-button {
    padding: 0px 4px;
}

.polari-background {
    opacity: 0.5;
}

.polari-background-title {
    font-size: 250%;
}

.polari-background-description {
    font-size: larger;
}

.polari-setup-page {
    padding: 48px 156px;
}

.polari-setup-title {
    font-size: 175%;
}

.polari-error-information {
    background-color: @polari_dark_bg_color;
    border-style: solid;
    border-color: @borders;
    border-width: 1px 0 0 0;
}
.polari-error-information GtkLabel {
    color: @theme_fg_color;
    font-size: smaller;
}

.polari-listbox-filterbar {
    border: solid @borders;
    border-width: 0 0 1px;
}

/* "opt-out" of insensitive view styling */
.polari-entry-area:disabled { background-color: @theme_base_color; }

/* the following adds a border on top of the inputbar when users scroll up */
.polari-chat-view > undershoot.bottom { border-bottom: 1px solid @borders; }

/* tweak labels in the user popover */
.polari-user-popover-nick { font-weight: bold; }
.polari-user-popover-status { font-size: smaller; }

.polari-room-loading {
    opacity: 0.3;
}

/* Differentiate test instance from "normal" ones */
window.test-instance headerbar:last-child {
    background-image: -gtk-icontheme('system-run-symbolic');
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-position: 1em center;
    background-size: 4em;
}
